:root {
  --background-color: hsl(212, 69%, 7%);
  /* Fondo alternativo en modo oscuro */
  --background-alt: hsl(212, 69%, 7%);
  /* (Opcional) Si quieres cambiar el color del texto principal en modo oscuro */
  --text-color: #fff;
  --background-border-color: hsl(214, 100%, 21%);
  --surface-background-color: hsl(212deg 56.44% 80.95%);
  --surface-variant-background-color: hsl(212, 53%, 14%);
  --surface-variant-active-background-color: hsl(212, 53%, 14%);
  --dropdown-border-color: hsl(214, 100%, 21%);
  --dropdown-background-color: hsl(212, 53%, 14%);
  --nested-card-background: rgba(99, 170, 240, .10);
  --indigo-1: #06143b;
  --indigo-2: #0c1c7a;
  --indigo-3: #2c64fc;
  --indigo-5: #85b8fa;
  --indigo-6: #cce4ff;
  --modal-background-color: rgba(0, 12, 53, 0.7);
  --modal-background-variant-color: hsl(231.69deg 100% 16.36% / 50%);
  --modal-border-color: hsl(221.46deg 100% 21.37%);
}

body {
  --background-border-color: hsl(213deg 100% 38% / 50%);
}

.display-name__account, .trends__item__name a {
  color: #0066E5;
}

.button {
  background-color: #0071FF;
  color: #fff;
}

.button:hover {
  background-color: #003578;
  color: #fff;
}

.button:active {
  background-color: #003578;
  color: #fff;
}

.button:focus {
  background-color: #003578;
  color: #fff;
}

.icon-paperclip, button.table-action-link:hover {
  color: #0071FF;
}

.compose-form__actions .icon-button, .compose-form__actions .icon-button:hover, .compose-form__actions .icon-button:focus, .status__content a.mention {
  color: #0066E5;
}

.compose-form__actions .icon-button.active {
  color: #fff;
  background: #0071FF;
}

.dropdown-button {
  color: #0071FF;
  border: 1px solid rgb(0, 87, 195);
  background: var(--input-background-color);
}

.dropdown-button.active {
  background: #0071FF;
  border-color: #0071FF;
  color: #fff;
}

.ui__navigation-bar__item.active {
  color: #0071FF;
}

.column-link.active {
  color: #0071FF;
}

.status__content__read-more-button, .status__content__translate-button, .link-button, .column-back-button, .column-header .column-header__back-button, .compose-form__warning a {
  color: #0071FF;
}

.account-role {
  color: #0071FF;
  border: 1px solid rgb(0, 87, 195);
}

.button.button-secondary {
  color: #0071FF;
  border: 1px solid rgb(0, 87, 195);
}

.button.button-secondary:hover {
  color: #0071FF;
  border: 1px solid rgb(0, 87, 195);
}

.button.button-secondary:active {
  color: #0071FF;
  border: 1px solid rgb(0, 87, 195);
}

.account__header__bio .account__header__fields a, .prose a, .edit-indicator__content a, .reply-indicator__content a, .edit-indicator__content a.unhandled-link, .reply-indicator__content a.unhandled-link, a.status-card:hover, .status__content a.unhandled-link {
    color: #c00;
}

.icon-person-add, .status__content a, .edit-indicator__content a, .reply-indicator__content a, .compose-form .compose-form__warning a, .status__quote-icon, .search-results__section__header button, .switch-to-advanced a {
  color: #0071FF;
}

.admin-wrapper .content__heading__tabs a.selected, .button.button-tertiary:hover {
  background: #0057C3;
  color: #fff;
}

.admin-wrapper .content__heading__tabs a:hover {
  background: #3b6599;
}

.simple_form .btn, .dashboard__quick-access, .account__domain-pill.active,.account__domain-pill__popout__header__icon {
  background: #0071FF;
}

.simple_form .btn:hover, .dashboard__quick-access:hover {
  background: #003578;
}

.simple_form .btn:active, .dashboard__quick-access:active {
  background: #003578;
}

.drawer__tab, .emoji-mart-anchor-selected, .simple_form .hint a {
  color: #0071FF;
}

.account__domain-pill__popout, .language-dropdown__dropdown {
  background: #06111E;
  border: 1px solid rgb(0, 87, 195);
}

.account__domain-pill, .admin-wrapper .sidebar ul .simple-navigation-active-leaf a, .follow_requests-unlocked_explanation a, .about__section__title, .timeline-hint a, .icon-button.active {
  color: #0069EB;
}

.compose-form .spoiler-input__input {
  color: #0064ff;
}

.icon-with-badge__badge, .account__section-headline a.active::before {
  background: #0069EB;
}

.language-dropdown__dropdown__results__item.active {
  background: #0057C3;
  color: #fff;
  outline: 0;
}

.emoji-mart-anchor-bar {
  background-color: #0057C3;
}

.privacy-dropdown__option.active, .notification__filter-bar button.active::before, .conversation__unread {
  background: #0057C3;
}

.notification-ungrouped__header, .status__relative-time, .conversation__content__relative-time, .status__prepend, .notification-ungrouped--direct .notification-ungrouped__header, .status__wrapper-direct .status__prepend, .detailed-status__wrapper-direct .status__prepend, .translate-button, .icon-button.bookmark-icon.active, .icon-button.bookmark-icon.active:hover {
  color: #b68900;
}

.trends__item__sparkline path:last-child, .sparkline__graph path:last-child {
  stroke: #0057c3 !important;
}

.trends__item__sparkline path:first-child, 
.sparkline__graph path:first-child {
  fill: rgba(128, 178, 255, 0.25) !important;
  fill-opacity: 1 !important;
}

.conversation.unread::before, .notification-ungrouped--unread::before, 
.notification-group--unread::before {
  border-inline-start: 4px solid rgb(0, 113, 255);
}

.rules-list li::before {
  background: #0057C3;
  color: #fff;
}

.detailed-status__wrapper-direct .detailed-status, .detailed-status__wrapper-direct .detailed-status__action-bar, .simple_form textarea, .simple_form input[type="text"], .simple_form input[type="email"], .simple_form input[type=password], .simple_form input[type="url"], .language-dropdown__dropdown .emoji-mart-search input, .emoji-mart-search input, .follow_requests-unlocked_explanation, .column-subheading, .account__domain-pill__popout {
  background: var(--input-background-color);
}

.hashtag-bar a:hover {
  background: var(--indigo-3);
  color: #fff
}


.hashtag-bar a:focus {
  background: var(--indigo-3);
  color: #fff
}

.simple_form select {
  background: var(--input-background-color) url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.933 18.467' height='19.698' width='15.929'><path d='M3.467 14.967l-3.393-3.5H14.86l-3.392 3.5c-1.866 1.925-3.666 3.5-4 3.5-.335 0-2.135-1.575-4-3.5zm.266-11.234L7.467 0 11.2 3.733l3.733 3.734H0l3.733-3.734z' fill='%2342425C'/></svg>") no-repeat right 8px center/auto 14px;
}

.flash-message {
  border: 1px solid rgb(0, 105, 235);
}

.compose-form__actions .icon-button.disabled {
  color: #4071b3;
}

.compose-form .compose-form__warning, .switch-to-advanced {
  color: #292938;
  background-color: rgb(115, 165, 230);
}

.status__wrapper-direct {
  background-color: rgba(64, 64, 106, 0.18);
}

.filters .filter-subset a.selected {
  color: #0057c3;
  border-bottom: 2px solid #0057c3;
}

.button.button-tertiary {
  color: #0055bf;
  border: 1px solid #0055bf;
}

.simple_form .recommended {
    border-color: #0055bf;
    color: #0055bf;
    background-color: rgb(99 139 255 / 10%);
}

.hashtag-bar a {
    background-color: rgb(0 66 255 / 29%);
}

.status__content .emojione, .edit-indicator__content .emojione, .reply-indicator__content .emojione, .emojione, .detailed-status .status__content .emojione {
    width: auto;
}

.poll__chart.leading, .account__section-headline button.active:before {
  background: #0055bf;
}

.poll__chart {
  background: #79b5ff;
}

.column-header.active .column-header__icon, .dismissable-banner__action .icon-button,.more-from-author a:hover, .more-from-author a:focus, .more-from-author a:active, .media-modal__overlay .picture-in-picture__footer .icon-button.active {
  color: #0071ff;
}

a.status-card:hover .status-card__title, a.status-card:hover .status-card__host, a.status-card:hover .status-card__author, a.status-card:hover .status-card__description, a.status-card:focus .status-card__title, a.status-card:focus .status-card__host, a.status-card:focus .status-card__author, a.status-card:focus .status-card__description, a.status-card:active .status-card__title, a.status-card:active .status-card__host, a.status-card:active .status-card__author, a.status-card:active .status-card__description, .status-card a:hover .status-card__title, .status-card a:focus .status-card__title, .status-card a:hover .status-card__host, .status-card a:hover .status-card__description,.status-card a:hover .status-card__author, .status-card a:active .status-card__author {
  color: #bd0000;
}

.dismissable-banner {
  border: 1px solid rgb(0 85 191);
  background: rgb(140 188 255 / 21%);
}

a.status-card, .status-card {
  border: 1px solid #bd0000;
}

.status-card.expanded .status-card__image-image {
  border-bottom: 1px solid #bd0000;
}

.status-card__image {
  background: #0078ff66;
  color: #bd0000;
  border-right: 1px solid #bd0000;
}

.story__details__title:hover, .story__details__title:active, .story__details__title:focus {
  color: #bd0000;
}

.story__details__shared__pill {
  background: var(--input-background-color);
  background-color: rgb(0 66 255 / 29%);
}

.more-from-author {
  background: var(--input-background-color);
  border-bottom: 1px solid hsl(0deg 100% 50%);
  border-left: 1px solid hsl(0deg 100% 50%);
  border-right: 1px solid hsl(0deg 100% 50%);
  margin-top: -2px;
}

.inline-follow-suggestions__body__scroll-button:hover .inline-follow-suggestions__body__scroll-button__icon, .inline-follow-suggestions__body__scroll-button__icon, .inline-follow-suggestions__body__scroll-button:active .inline-follow-suggestions__body__scroll-button__icon {
  background: #0095ff;
}

.status__quote {
  border: 1px solid hsl(213.2, 100%, 38.2%);
}

.search-results__section__header {
  background: var(--input-background-color);
  color: #0055bf;
}

.column-header__wrapper.active::before {
  background: radial-gradient(ellipse,rgba(99, 153, 255, 0.56),rgba(99,100,255,0) 60%);
}

.button:disabled {
  background-color: rgba(78, 146, 219, 0.7);
}

.button.button-secondary {
  color: #0057C3;
  border: 1px solid rgb(0, 87, 195);
}

.button:disabled {
  background-color: rgba(78, 146, 219, 0.45);
}

.button.button-secondary:disabled{
  opacity: .7;
  border-color: rgba(0, 53, 153, 0.7);
  color: rgba(0, 53, 153, 0.7);
}

.account__domain-pill__popout__handle {
  border: 2px dashed #0057C3;
  background: var(--input-background-color);
  color: #0057C3;
}

.account__domain-pill__popout__parts__icon, .notification-bar__action, .hover-card .display-name__account, .hover-card .account-fields dl dt, .account__header__buttons .icon-button .icon, .compose-form__poll__select__value {
  color: #0057C3;
}

.layout-multiple-columns .columns-area {
  overflow-x: auto;
  display: flex;
  justify-content: center;
}

@media screen and (min-height: 640px) {
  .drawer__inner__mastodon {
    display: flex;
    justify-content: center;
  }
}

.loading-bar{
  background-color: #0071ff;
}

.visibility-dropdown__option:focus, .visibility-dropdown__option:active, .visibility-dropdown__option.active {
  background: #0071ff;
}

.visibility-dropdown__option:hover {
  background: #007cff9c;
}

.status__quote-author-button {
  background: #0062c94f;
}

.edit-indicator {
  background-color: rgba(91, 163, 255, 0.5);
  border-bottom: .5px solid hsl(213deg 100% 38% / 50%);
}

.dropdown-button[disabled] {
  color: #0057c3;
  border-color: #0057c3;
}

.hover-card {
  backdrop-filter: blur(8px) saturate(180%) contrast(75%) brightness(70%);
}

.account__header__buttons .icon-button {
  border: 2px solid var(--background-border-color);
  border-radius: 30px;
}

.button, .account__relationship .icon-button {
  border-radius: 30px;
}

.poll__option input[type="text"] {
  background: var(--input-background-color);
  border: 1px solid hsla(213.2, 100%, 38.2%, 0.45);
    border-top-color: rgba(0, 87, 195, 0.45);
    border-right-color: rgba(0, 87, 195, 0.45);
    border-bottom-color: rgba(0, 87, 195, 0.45);
    border-left-color: rgba(0, 87, 195, 0.45);
}

.poll__option input[type="text"]:focus {
  border-color: #0057c3;
}

.search__input, .compose-form__highlightable, .compose-form__warning, .switch-to-advanced, .drawer__pager, .drawer__header, .dropdown-menu, .inline-follow-suggestions__body__scrollable__card, .column > .scrollable.about {
  border-radius: 14px;
}

.search.active .search__input, .column-header, .column-back-button {
  border-radius: 14px 14px 0 0;
}

.search__popout, .column > .scrollable {
  border-radius: 0 0 14px 14px;
}

.account__avatar, .inline-follow-suggestions__body__scrollable__card .account__avatar {
  border: 1px solid #0071ff;
  border-radius: 9px;
  background: hsl(222.4, 100%, 80.6%);
}

.avatar-group:not(.avatar-group--compact) {
  gap: 10px;
  height: 30px;
}

.account__header__bar .avatar .account__avatar {
  border: 1px solid hsl(213.1, 100%, 38%);
  background: hsl(222.4, 100%, 80.6%);
}

.icon-button {
  color: #2e588d;
}

.icon-button:hover, .icon-button:active, .icon-button.active:hover {
  color: #0072ff;
}

.compose-form__highlightable, .search__input {
  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.35);
}

.compose-form .autosuggest-textarea__textarea {
  background: 0;
}

@supports not selector(::-webkit-scrollbar) {
  html {
    scrollbar-color: hsla(213.2, 100%, 38.2%, 0.63) hsla(213.1, 100%, 38%, 0.21);
  }
}

.ui__navigation-bar__items.active {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
}

.search__popout__menu__item:hover, .search__popout__menu__item:focus, .search__popout__menu__item:active {
  background: #0071FF;
}

.icon-button.active:active {
  background: #0069EB;
  color: #fff;
}

.dropdown-menu__item a:hover:not(:disabled):not([aria-disabled="true"]), .language-dropdown__dropdown__results__item:hover, .dropdown-menu__item button:hover:not(:disabled):not([aria-disabled="true"]) {
  background: hsla(216.5, 100%, 50%, 0.39);
}

.column-link:hover, .column-link:focus, .column-link:active {
  color: #0071ff;
}

.emoji-mart-anchor:hover, .emoji-mart-anchor-selected:hover {
  color: #fff;
}

.icon-button.active:hover {
  background-color: #60608526;
}

.compose-form__upload__warning .icon-button.active:hover {
  background-color: #000000a1;
}

.picture-in-picture__header, .picture-in-picture__footer {
  background: hsla(216.4, 100%, 73.1%, 0.49);
  border: 1px solid hsl(213.4, 100%, 50%);
  backdrop-filter: blur(10px) saturate(180%) contrast(75%) brightness(100%);
}

/* Oculta el SVG inline original */
.icon-button.star-icon svg, .icon-button.star-icon svg path {
  display: none !important;
}

.icon-button.star-icon.active, .notification-group--favourite .notification-group__icon, .media-modal__overlay .picture-in-picture__footer .icon-button.star-icon.active {
  color: #d01414;
}

.icon-button.star-icon::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background-color: currentColor;
  -webkit-mask: url("data:image/svg+xml;utf8,%3Csvg%20viewBox='0%200%2024%2024'%20color='inherit'%20width='20'%20height='20'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill='%23b8b3c0'%20d='M16.5%203C19.538%203%2022%205.5%2022%209c0%207-7.5%2011-10%2012.5C9.5%2020%202%2016%202%209c0-3.5%202.5-6%205.5-6C9.36%203%2011%204%2012%205c1-1%202.64-2%204.5-2zm-3.566%2015.604a26.953%2026.953%200%200%200%202.42-1.701C18.335%2014.533%2020%2011.943%2020%209c0-2.36-1.537-4-3.5-4c-1.076%200-2.24.57-3.086%201.414L12%207.828l-1.414-1.414C9.74%205.57%208.576%205%207.5%205C5.56%205%204%206.656%204%209c0%202.944%201.666%205.533%204.645%207.903c.745.592%201.54%201.145%202.421%201.7c.299.189.595.37.934.572c.339-.202.635-.383.934-.571z'/%3E%3C/svg%3E") no-repeat center / contain;
  mask: url("data:image/svg+xml;utf8,%3Csvg%20viewBox='0%200%2024%2024'%20color='inherit'%20width='20'%20height='20'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill='%23b8b3c0'%20d='M16.5%203C19.538%203%2022%205.5%2022%209c0%207-7.5%2011-10%2012.5C9.5%2020%202%2016%202%209c0-3.5%202.5-6%205.5-6C9.36%203%2011%204%2012%205c1-1%202.64-2%204.5-2zm-3.566%2015.604a26.953%2026.953%200%200%200%202.42-1.701C18.335%2014.533%2020%2011.943%2020%209c0-2.36-1.537-4-3.5-4c-1.076%200-2.24.57-3.086%201.414L12%207.828l-1.414-1.414C9.74%205.57%208.576%205%207.5%205C5.56%205%204%206.656%204%209c0%202.944%201.666%205.533%204.645%207.903c.745.592%201.54%201.145%202.421%201.7c.299.189.595.37.934.572c.339-.202.635-.383.934-.571z'/%3E%3C/svg%3E") no-repeat center / contain;
  background-repeat: no-repeat;
}

.icon-button.star-icon.active::before {
  content: "";
  display: inline-block;
  width: 23px;
  height: 23px;
  vertical-align: middle;
  background-color: currentColor;
  -webkit-mask: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true' fill='%23f7f9f9'%3E%3Cg%3E%3Cpath d='M20.884 13.19c-1.351 2.48-4.001 5.12-8.379 7.67l-.503.3-.504-.3c-4.379-2.55-7.029-5.19-8.382-7.67-1.36-2.5-1.41-4.86-.514-6.67.887-1.79 2.647-2.91 4.601-3.01 1.651-.09 3.368.56 4.798 2.01 1.429-1.45 3.146-2.1 4.796-2.01 1.954.1 3.714 1.22 4.601 3.01.896 1.81.846 4.17-.514 6.67z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E") center / contain no-repeat;
  mask: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true' fill='%23f7f9f9'%3E%3Cg%3E%3Cpath d='M20.884 13.19c-1.351 2.48-4.001 5.12-8.379 7.67l-.503.3-.504-.3c-4.379-2.55-7.029-5.19-8.382-7.67-1.36-2.5-1.41-4.86-.514-6.67.887-1.79 2.647-2.91 4.601-3.01 1.651-.09 3.368.56 4.798 2.01 1.429-1.45 3.146-2.1 4.796-2.01 1.954.1 3.714 1.22 4.601 3.01.896 1.81.846 4.17-.514 6.67z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E") center / contain no-repeat;
  background-repeat: no-repeat;
}

a.column-link.column-link--transparent svg.icon-star { 
  display: none !important;
}

a.column-link.column-link--transparent:has(> svg.icon.icon-star)::before {
  content: "";
  display: inline-block;
  width: 23px;
  height: 23px;
  vertical-align: middle;
  background-color: currentColor;
  -webkit-mask: url("data:image/svg+xml;utf8,%3Csvg%20viewBox='0%200%2024%2024'%20color='inherit'%20width='20'%20height='20'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill='%23b8b3c0'%20d='M16.5%203C19.538%203%2022%205.5%2022%209c0%207-7.5%2011-10%2012.5C9.5%2020%202%2016%202%209c0-3.5%202.5-6%205.5-6C9.36%203%2011%204%2012%205c1-1%202.64-2%204.5-2zm-3.566%2015.604a26.953%2026.953%200%200%200%202.42-1.701C18.335%2014.533%2020%2011.943%2020%209c0-2.36-1.537-4-3.5-4c-1.076%200-2.24.57-3.086%201.414L12%207.828l-1.414-1.414C9.74%205.57%208.576%205%207.5%205C5.56%205%204%206.656%204%209c0%202.944%201.666%205.533%204.645%207.903c.745.592%201.54%201.145%202.421%201.7c.299.189.595.37.934.572c.339-.202.635-.383.934-.571z'/%3E%3C/svg%3E") no-repeat center / contain !important;
  mask: url("data:image/svg+xml;utf8,%3Csvg%20viewBox='0%200%2024%2024'%20color='inherit'%20width='20'%20height='20'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill='%23b8b3c0'%20d='M16.5%203C19.538%203%2022%205.5%2022%209c0%207-7.5%2011-10%2012.5C9.5%2020%202%2016%202%209c0-3.5%202.5-6%205.5-6C9.36%203%2011%204%2012%205c1-1%202.64-2%204.5-2zm-3.566%2015.604a26.953%2026.953%200%200%200%202.42-1.701C18.335%2014.533%2020%2011.943%2020%209c0-2.36-1.537-4-3.5-4c-1.076%200-2.24.57-3.086%201.414L12%207.828l-1.414-1.414C9.74%205.57%208.576%205%207.5%205C5.56%205%204%206.656%204%209c0%202.944%201.666%205.533%204.645%207.903c.745.592%201.54%201.145%202.421%201.7c.299.189.595.37.934.572c.339-.202.635-.383.934-.571z'/%3E%3C/svg%3E") no-repeat center / contain !important;
  background-repeat: no-repeat;
}

.notification-group__icon svg.icon-star { 
  display: none !important;
}

.notification-group__icon:has(> svg.icon.icon-star)::before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  vertical-align: middle;
  background-color: currentColor;
  -webkit-mask: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true' fill='%23f7f9f9'%3E%3Cg%3E%3Cpath d='M20.884 13.19c-1.351 2.48-4.001 5.12-8.379 7.67l-.503.3-.504-.3c-4.379-2.55-7.029-5.19-8.382-7.67-1.36-2.5-1.41-4.86-.514-6.67.887-1.79 2.647-2.91 4.601-3.01 1.651-.09 3.368.56 4.798 2.01 1.429-1.45 3.146-2.1 4.796-2.01 1.954.1 3.714 1.22 4.601 3.01.896 1.81.846 4.17-.514 6.67z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E") center / contain no-repeat;
  mask: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true' fill='%23f7f9f9'%3E%3Cg%3E%3Cpath d='M20.884 13.19c-1.351 2.48-4.001 5.12-8.379 7.67l-.503.3-.504-.3c-4.379-2.55-7.029-5.19-8.382-7.67-1.36-2.5-1.41-4.86-.514-6.67.887-1.79 2.647-2.91 4.601-3.01 1.651-.09 3.368.56 4.798 2.01 1.429-1.45 3.146-2.1 4.796-2.01 1.954.1 3.714 1.22 4.601 3.01.896 1.81.846 4.17-.514 6.67z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E") center / contain no-repeat;
  background-repeat: no-repeat;
}

.media-modal__overlay .picture-in-picture__footer .icon-button.star-icon.active:hover, .media-modal__overlay .picture-in-picture__footer .icon-button.star-icon.active:active, .media-modal__overlay .picture-in-picture__footer .icon-button.star-icon.active:focus {
  background: #ff6f6f26;
}

@media screen and (max-width: 1174px) {
  .column-header__title svg.icon-star { 
    display: none !important;
  }
}

@media screen and (max-width: 1174px) {
  .column-header__title:has(> svg.icon.icon-star)::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    background-color: currentColor;
    -webkit-mask: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true' fill='%23f7f9f9'%3E%3Cg%3E%3Cpath d='M20.884 13.19c-1.351 2.48-4.001 5.12-8.379 7.67l-.503.3-.504-.3c-4.379-2.55-7.029-5.19-8.382-7.67-1.36-2.5-1.41-4.86-.514-6.67.887-1.79 2.647-2.91 4.601-3.01 1.651-.09 3.368.56 4.798 2.01 1.429-1.45 3.146-2.1 4.796-2.01 1.954.1 3.714 1.22 4.601 3.01.896 1.81.846 4.17-.514 6.67z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E") center / contain no-repeat;
  mask: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true' fill='%23f7f9f9'%3E%3Cg%3E%3Cpath d='M20.884 13.19c-1.351 2.48-4.001 5.12-8.379 7.67l-.503.3-.504-.3c-4.379-2.55-7.029-5.19-8.382-7.67-1.36-2.5-1.41-4.86-.514-6.67.887-1.79 2.647-2.91 4.601-3.01 1.651-.09 3.368.56 4.798 2.01 1.429-1.45 3.146-2.1 4.796-2.01 1.954.1 3.714 1.22 4.601 3.01.896 1.81.846 4.17-.514 6.67z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E") center / contain no-repeat;
    background-repeat: no-repeat;
  }
}

.column-header__title svg.icon-star { 
  display: none !important;
}

.column-header__title:has(> svg.icon.icon-star)::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background-color: currentColor;
  -webkit-mask: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true' fill='%23f7f9f9'%3E%3Cg%3E%3Cpath d='M20.884 13.19c-1.351 2.48-4.001 5.12-8.379 7.67l-.503.3-.504-.3c-4.379-2.55-7.029-5.19-8.382-7.67-1.36-2.5-1.41-4.86-.514-6.67.887-1.79 2.647-2.91 4.601-3.01 1.651-.09 3.368.56 4.798 2.01 1.429-1.45 3.146-2.1 4.796-2.01 1.954.1 3.714 1.22 4.601 3.01.896 1.81.846 4.17-.514 6.67z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E") center / contain no-repeat;
  mask: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true' fill='%23f7f9f9'%3E%3Cg%3E%3Cpath d='M20.884 13.19c-1.351 2.48-4.001 5.12-8.379 7.67l-.503.3-.504-.3c-4.379-2.55-7.029-5.19-8.382-7.67-1.36-2.5-1.41-4.86-.514-6.67.887-1.79 2.647-2.91 4.601-3.01 1.651-.09 3.368.56 4.798 2.01 1.429-1.45 3.146-2.1 4.796-2.01 1.954.1 3.714 1.22 4.601 3.01.896 1.81.846 4.17-.514 6.67z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E") center / contain no-repeat;
  background-repeat: no-repeat;
}
